# Importing the databases

In [1]:
import pandas as pd

df = pd.read_csv("../data/df_final_demo.txt")
final_demo_df = df.copy()

final_demo_df

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

In [2]:
import pandas as pd

df = pd.read_csv("../data/df_final_web_data_pt_1.txt")
final_web_data_1_df = df.copy()

final_web_data_1_df

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [3]:
import pandas as pd

df = pd.read_csv("../data/df_final_web_data_pt_2.txt")
final_web_data_2_df = df.copy()

final_web_data_2_df

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
412259,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
412260,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
412261,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
412262,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
412263,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

In [4]:
import pandas as pd

df = pd.read_csv("../data/df_final_experiment_clients.txt")
experiment_clients_df = df.copy()

experiment_clients_df

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

# Sanity check of the databases

### Important notes

Things to pay attention to while merging:
- Make sure that reach client_id is either in the control group, or the test group, but not both.
- One client_id can have multiple visitor_id's, but not the other way around. Visitor_id should have no duplicates.
- We merge dataframes ON client_id, which is the common denominator column of the three tables.

How to define the time spent per step:
- Each row provide the timestamp of the client initiating a step
- therefore, we will need to group per client_id and sort the values of time in an natural order
- Then we need to create two more columns, one for "duration", one for "success" - a boolean column that specifies whether the client proceeded or did a step back (error) at each step.
- Lastly, we need to create a column for our most important KPI, which is "conversion". That means, that a customer has proceeded in all steps and finalized the confirmation.

However, here are some important biases we need to account for:
- Session fragmentation -> Create a column for "SESSIONS" per client

A single client producing several visitor_id values within the same experiment window may represent broken sessions rather than distinct attempts. The simple check is: count visitor_id per client_id. If most clients have one and a few have many, inspect their time ordering. If multiple visitor_id values overlap in time, they likely represent a single attempt. A simple rule:
If two visitor_ids within the same client_id occur less than ~5 minutes apart and both start at step 1, you can treat them as the same attempt. If not, leave them separate.

- Inconsistent step ordering.

For each client_id, sort by date_time and verify that process_step never jumps backward by more than one. Small backward moves usually indicate page refreshes. Large jumps indicate noise.
We should flag sequences where process_step is not monotonically increasing and either exclude them or report them as noisy.

- Temporal truncation.

Our experiment has a fixed end date. Any visit_id whose final event occurs near that boundary might not have had time to finish. Compute the time difference between the last observed step and the experiment end. If the gap is very small, treat the session as incomplete by truncation rather than failure. You can either exclude them or keep them but acknowledge the ambiguity.

- Arm misclassification.

Each client_id appears exactly once and in exactly one group in the experiment file. If duplicates appear or if a client_id in the web logs is missing from the experiment file, flag and exclude.

### Step 1: Experiment data - Load and sanity-check each table.

Verify row counts, missing client_id, duplicate client_id in the experiment roster. This establishes whether the dataset is even suitable for merging.

### Step 2: Experiment data - Validate absence of arm misclassification.

Each client_id appears exactly once and in exactly one group in the experiment file. If duplicates appear or if a client_id in the web logs is missing from the experiment file, flag and exclude.

### Step 3: Web logs data - Inspect session multiplicity

Group web logs by client_id and count distinct visitor_id. If most clients have one and a minority have many, keep visitor_id as the unit of analysis. Only collapse visitor_id when two IDs begin a step-1 sequence within minutes of each other.

### Step 4: Web logs data - Account for Session Fragmentation - Build "session" timelines - Compute step durations and success-level outcomes.

For each (client_id, visitor_id), sort by date_time. Check monotonicity of process_step. Minor regressions can be tolerated; major reversals get flagged and excluded. Within each sorted sequence, compute time between steps, derive a success flag per step, and classify the visitor_id as converted or not.

In [5]:
# starting by concatenating the two web data dataframes
import pandas as pd

final_web_data_df = pd.concat(
    [final_web_data_1_df, final_web_data_2_df],
    ignore_index=True
)

# we will use the drop.duplicates method to drop rows that have the exact same values across all columns.
final_web_data_df = final_web_data_df.drop_duplicates()

final_web_data_df.shape

(744641, 5)

In [6]:
# the drop duplicates dropped roughly 1.4% of the total data, which is an expected when logs are split across files or exported twice. It indicates repeated rows, not behavioral data loss.

In [7]:
final_web_data_df.head()

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

In [8]:
final_web_data_df["process_step"].value_counts()

process_step
start      234999
step_1     162797
step_2     132750
step_3     111589
confirm    102506
Name: count, dtype: int64

In [9]:
# now we will format the date_time in a way that we can easier work with it later.
final_web_data_df["date_time"] = pd.to_datetime(final_web_data_df["date_time"])
final_web_data_df.dtypes

client_id                int64
visitor_id              object
visit_id                object
process_step            object
date_time       datetime64[ns]
dtype: object

In [10]:
# now we will sort based on natural timeline sequence
final_web_data_df = final_web_data_df.sort_values(
    ["client_id", "visitor_id", "date_time"]
)
final_web_data_df.head(10)

,client_id,visitor_id,visit_id,process_step,date_time
285515,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36
285514,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45
285513,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31
285512,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05
285511,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09
628456,336,64757908_3400128256,649044751_80905125055_554468,start,2017-06-01 07:26:55
628331,336,64757908_3400128256,649044751_80905125055_554468,start,2017-06-01 07:42:43
442857,546,475037402_89828530214,731811517_9330176838_94847,start,2017-06-17 10:03:29
442856,546,475037402_89828530214,731811517_9330176838_94847,step_1,2017-06-17 10:03:39
442855,546,475037402_89828530214,731811517_9330176838_94847,step_2,2017-06-17 10:03:52

In [11]:
# we need to convert the process_step series into a numercial one
step_map = {
    "start": 0,
    "step_1": 1,
    "step_2": 2,
    "step_3": 3,
    "confirm": 4,
}

final_web_data_df["process_step_num"] = final_web_data_df["process_step"].map(step_map)

final_web_data_df["process_step_num"].isna().sum()

np.int64(0)

In [13]:
# creating a new column that shows the step changes each time. We can accept any step change that is between -1 and +1, but not bigger sudden changes.
final_web_data_df["step_diff"] = (
    final_web_data_df
    .groupby(["client_id", "visitor_id"])["process_step_num"]
    .diff()
)
final_web_data_df[["client_id", "visitor_id", "process_step_num", "step_diff"]].head(10)

        client_id             visitor_id  process_step_num  step_diff
285515        169  201385055_71273495308                 0        NaN
285514        169  201385055_71273495308                 1        1.0
285513        169  201385055_71273495308                 2        1.0
285512        169  201385055_71273495308                 3        1.0
285511        169  201385055_71273495308                 4        1.0
628456        336    64757908_3400128256                 0        NaN
628331        336    64757908_3400128256                 0        0.0
442857        546  475037402_89828530214                 0        NaN
442856        546  475037402_89828530214                 1        1.0
442855        546  475037402_89828530214                 2        1.0

In [17]:
final_web_data_df.shape

(744641, 7)

In [18]:
# now we will identify suspicious timelines where the steps jump backwards too far.
final_web_data_df["step_anomaly"] = final_web_data_df["step_diff"] < -1
final_web_data_df["step_anomaly"].value_counts()
final_web_data_df.head(5)

,client_id,visitor_id,visit_id,process_step,date_time,process_step_num,step_diff,step_anomaly
285515,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,0,NaN,False
285514,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,1,1.0,False
285513,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,2,1.0,False
285512,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,3,1.0,False
285511,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,4,1.0,False

In [19]:
final_web_data_df["step_anomaly"].describe()

count     744641
unique         2
top        False
freq      722287
Name: step_anomaly, dtype: object

In [20]:
# we get 19455. In typical clickstream data, one to three percent of attempts show structural anomalies. This falls within that range.

In [21]:
# now we build the duration per attempt
clean_web_data_df = final_web_data_df.copy()

clean_web_data_df["next_time"] = (
    clean_web_data_df
    .groupby(["client_id", "visitor_id"])["date_time"]
    .shift(-1)
)

clean_web_data_df["duration_seconds"] = (
    clean_web_data_df["next_time"] - clean_web_data_df["date_time"]
).dt.total_seconds()

clean_web_data_df.head(5)

,client_id,visitor_id,visit_id,process_step,date_time,process_step_num,step_diff,step_anomaly,next_time,duration_seconds
285515,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,0,NaN,False,2017-04-12 20:19:45,9.0
285514,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,1,1.0,False,2017-04-12 20:20:31,46.0
285513,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,2,1.0,False,2017-04-12 20:22:05,94.0
285512,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,3,1.0,False,2017-04-12 20:23:09,64.0
285511,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,4,1.0,False,NaT,NaN

In [22]:
# Create a simple per-step “success” flag.
# A step is a success if the next recorded step number is greater than or equal to the current one.
# A step is an error if the next step is lower.

clean_web_data_df["next_step"] = (
    clean_web_data_df
    .groupby(["client_id", "visitor_id"])["process_step_num"]
    .shift(-1)
)

clean_web_data_df["step_success"] = (
    clean_web_data_df["next_step"] >= clean_web_data_df["process_step_num"]
)

# Turn the boolean into “success / error” labels
clean_web_data_df["step_outcome"] = clean_web_data_df["step_success"].map({
    True: "success",
    False: "error"
})

clean_web_data_df.head(5)

,client_id,visitor_id,visit_id,process_step,date_time,process_step_num,step_diff,step_anomaly,next_time,duration_seconds,next_step,step_success,step_outcome
285515,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,0,NaN,False,2017-04-12 20:19:45,9.0,1.0,True,success
285514,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,1,1.0,False,2017-04-12 20:20:31,46.0,2.0,True,success
285513,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,2,1.0,False,2017-04-12 20:22:05,94.0,3.0,True,success
285512,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,3,1.0,False,2017-04-12 20:23:09,64.0,4.0,True,success
285511,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,4,1.0,False,NaT,NaN,NaN,False,error

In [25]:
# however, what I don't like, is that for the last step "confirm", the step_outcome is "error" since there is no further step. 
# I believe that we should change that to "completed" instead, because "error" is misleading.
# Also, I will mark the last step of an uncompleted session as "drop-off"

# 1. Confirmation that ends the attempt → completed
mask_last_confirm = (
    (clean_web_data_df["process_step"] == "confirm")
    & clean_web_data_df["next_step"].isna()
)
clean_web_data_df.loc[mask_last_confirm, "step_outcome"] = "completed"

# 2. Non-confirmation that ends the attempt → dropoff
mask_last_non_confirm = (
    (clean_web_data_df["process_step"] != "confirm")
    & clean_web_data_df["next_step"].isna()
)
clean_web_data_df.loc[mask_last_non_confirm, "step_outcome"] = "dropoff"

clean_web_data_df.head(10)

,client_id,visitor_id,visit_id,process_step,date_time,process_step_num,step_diff,step_anomaly,next_time,duration_seconds,next_step,step_success,step_outcome
285515,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36,0,NaN,False,2017-04-12 20:19:45,9.0,1.0,True,success
285514,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45,1,1.0,False,2017-04-12 20:20:31,46.0,2.0,True,success
285513,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31,2,1.0,False,2017-04-12 20:22:05,94.0,3.0,True,success
285512,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05,3,1.0,False,2017-04-12 20:23:09,64.0,4.0,True,success
285511,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09,4,1.0,False,NaT,NaN,NaN,False,completed
628456,336,64757908_3400128256,649044751_80905125055_554468,start,2017-06-01 07:26:55,0,NaN,False,2017-06-01 07:42:43,948.0,0.0,True,success
628331,336,64757908_3400128256,649044751_80905125055_554468,start,2017-06-01 07:42:43,0,0.0,False,NaT,NaN,NaN,False,dropoff
442857,546,475037402_89828530214,731811517_9330176838_94847,start,2017-06-17 10:03:29,0,NaN,False,2017-06-17 10:03:39,10.0,1.0,True,success
442856,546,475037402_89828530214,731811517_9330176838_94847,step_1,2017-06-17 10:03:39,1,1.0,False,2017-06-17 10:03:52,13.0,2.0,True,success
442855,546,475037402_89828530214,731811517_9330176838_94847,step_2,2017-06-17 10:03:52,2,1.0,False,2017-06-17 10:05:19,87.0,3.0,True,success

In [26]:
# Lastly, I will create a new dataframe that contains infomration about the converted attempts (sessions) per client_id
attempts_df = (
    clean_web_data_df
    .groupby(["client_id", "visitor_id"])
    .agg(
        converted = ("step_outcome", lambda s: (s == "completed").any()),
        first_time = ("date_time", "min"),
        last_time  = ("date_time", "max"),
        total_duration_sec = ("duration_seconds", "sum"),
        n_events = ("process_step_num", "count"),
        n_errors = ("step_outcome", lambda s: (s == "error").sum())
    )
    .reset_index()
)
attempts_df.head(10)

,client_id,visitor_id,converted,first_time,last_time,total_duration_sec,n_events,n_errors
0,169,201385055_71273495308,True,2017-04-12 20:19:36,2017-04-12 20:23:09,213.0,5,0
1,336,64757908_3400128256,False,2017-06-01 07:26:55,2017-06-01 07:42:43,948.0,2,0
2,546,475037402_89828530214,True,2017-06-17 10:03:29,2017-06-17 10:05:42,133.0,5,0
3,555,402506806_56087378777,True,2017-04-15 12:57:56,2017-04-15 13:00:34,158.0,5,0
4,647,66758770_53988066587,True,2017-04-12 15:41:28,2017-04-12 15:47:45,377.0,5,0
5,722,919259913_64837298108,True,2017-04-19 14:50:10,2017-04-19 15:00:09,599.0,9,2
6,786,439747392_30293505155,True,2017-06-01 11:00:22,2017-06-01 11:05:34,312.0,6,0
7,805,831412807_82548325803,False,2017-06-08 01:10:29,2017-06-17 19:23:20,843171.0,9,2
8,832,645971208_10952400740,True,2017-06-16 10:38:38,2017-06-16 10:40:52,134.0,7,1
9,934,810392784_45004760546,False,2017-04-18 02:36:30,2017-04-18 02:38:52,142.0,4,0

### Step 5: Temporal truncation

Any attempt whose last timestamp sits very close to the experiment’s end can be marked ambiguous. We may exclude them or keep them with a clear note that their status is censored.

### Step 6: Cleaning the demographics dataframe

# Merging the databases

Merge on client_id, using the experiment client_id as the base, since these are the only customers that matter.

We prefer "left" merge instead of "inner" because:
how="left" keeps all experiment clients, including:
- those who never visited (web columns NaN)
- those missing demographics (demo columns NaN)

An inner merge would silently drop:
- assigned clients with no web activity
- assigned clients missing demographics

For an A/B test, dropping assigned-but-inactive clients biases completion rates, so left is preferable. We can always later filter to “clients with web activity and complete demographics” explicitly, instead of letting the join hide them.

In [7]:
 # exp_demo = experiment.merge(demo, on="client_id", how="left")

# then

# web = pd.concat([web_pt1, web_pt2], ignore_index=True)

# and lastly

# full = exp_demo.merge(web_data, on="client_id", how="left")

# Data Cleaning